# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Crash log files
crash.log

# Exclude variable files
*.tfvars.json

# Plan output
*.plan

# Sensitive files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc